/* 기본 여백 싹 다 날리고 브라우저 크기 꽉 채우는 마법의 리셋 */
* {
    box-sizing: border-box;
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
    /* 바깥쪽 스크롤 절대 금지 */
    background-color: #1e1e24;
}